
*.php linguist-language=PHP
*.phtml linguist-language=PHP


*.sql linguist-language=SQL

vendor/* linguist-vendored
node_modules/* linguist-vendored

*.min.js linguist-generated
*.min.css linguist-generated
