  :root {
    --color-primary: #1B2A41;
    --color-accent: #00B4D8;
    --color-teal: #229EA0;
    --color-light-blue: #E3F2FD;
    --color-white: #FFFFFF;
    --color-surface: #F0F2F4;
    --color-background: #F9FBFC;
    --color-text: #1C1C1C;
    --color-subtext: #6B7280;
    --color-error: #E57373;
    --bg-color: rgb(10, 10, 39);
  
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Roboto', sans-serif;
    --font-body2: 'Quicksand', sans-serif;
  
    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-body: 16px;
    --font-size-body2: 18px;
    --font-size-small: 14px;
    --font-size-caption: 13px;
    --font--size-big: 50px;
  
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
  
    --line-height-base: 24px;
    --max-paragraph-width: 700px;
  
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 48px;
  }
